<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<!--
  -- Copyright (C) 2020 Denis 'GNUtoo' Carikli <GNUtoo@cyberdimension.org>
  --
  -- This program is free software: you can redistribute it and/or modify
  -- it under the terms of the GNU Affero General Public License as published by
  -- the Free Software Foundation, either version 3 of the License, or
  -- (at your option) any later version.
  --
  -- This program is distributed in the hope that it will be useful,
  -- but WITHOUT ANY WARRANTY; without even the implied warranty of
  -- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -- GNU Affero General Public License for more details.
  --
  -- You should have received a copy of the GNU Affero General Public License
  -- along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->
<html>
  <head>
    <title>Computers to test things on</title>
    <meta name="date" content="2020-05-15" />
    <meta name="category" content="Article" />
  </head>

  <body>
  <p>
    As part of my work on various free software projects, I have access to
    several computers to work on.
    </br>
    If you have some quick test that needs to be
    done (like verifying if the new u-boot version works, etc) on one of the
    following computers for a free software project, you can ask me to do it on
    IRC if I'm available.
  </p>

    {% for formfactor in COMPUTERS_FORMFACTORS %}
    <u><h2>{{formfactor}}</h2></u>
    <ul>
      {% for computer in COMPUTERS %}

      {% if formfactor == computer["Formfactor"] %}
      <li>
        {{computer["Name"]}}:
        <ul>
          {% for key, value in computer.items() %}
          {% if key not in ["Name", "Formfactor"] %}
          <li>{{key}} : {{value}}</li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endfor %}
  </body>
</html>
