<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<!--
  -- Copyright (C) 2020 Denis 'GNUtoo' Carikli <GNUtoo@cyberdimension.org>
  --
  -- This program is free software: you can redistribute it and/or modify
  -- it under the terms of the GNU Affero General Public License as published by
  -- the Free Software Foundation, either version 3 of the License, or
  -- (at your option) any later version.
  --
  -- This program is distributed in the hope that it will be useful,
  -- but WITHOUT ANY WARRANTY; without even the implied warranty of
  -- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -- GNU Affero General Public License for more details.
  --
  -- You should have received a copy of the GNU Affero General Public License
  -- along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->
<html>
  <head>
    <title>FPGAs to test things on</title>
    <meta name="date" content="2020-05-15" />
    <meta name="category" content="Article" />
  </head>

  <body>
  <p>
    I've several FPGAs that I got from various sources:</br>
    I was given 2 FOMU, I've also an XTRX.</br>
    </br>
    If you have some quick test that needs to be done</br>
    on one of the following FPGAs for a free software project</br>
    (like verifying if the symbiflow toolchain from Parabola works, etc),</br>
    you can ask me to do it on IRC if I'm available.
  </p>

    <u><h2>Boards:</h2></u>
    <ul>
      {% for fpga in FPGAS %}

      <li>
        {{fpga["Name"]}}:
        <ul>
          {% for key, value in fpga.items() %}
	  {% if key not in ["Name"] %}
          <li>{{key}} : {{value}}</li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
