<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<!--
  -- Copyright (C) 2020 Denis 'GNUtoo' Carikli <GNUtoo@cyberdimension.org>
  --
  -- This program is free software: you can redistribute it and/or modify
  -- it under the terms of the GNU Affero General Public License as published by
  -- the Free Software Foundation, either version 3 of the License, or
  -- (at your option) any later version.
  --
  -- This program is distributed in the hope that it will be useful,
  -- but WITHOUT ANY WARRANTY; without even the implied warranty of
  -- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -- GNU Affero General Public License for more details.
  --
  -- You should have received a copy of the GNU Affero General Public License
  -- along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<html>
  <head>
    <title>Hardware to get, lend or give</title>
    <meta name="date" content="2020-05-15" />
    <meta name="category" content="Article" />
  </head>

  <body>
    <u><h2>Devices I would have a use for:</h2></u>
    <ul>
      {% for device, description in DEVICES_TO_GET.items() %}
      <li>{{device}}:
        <ul>
          {% for key, value in description.items() %}
          <li>{{key}} : {{value}}</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>

    <u><h2>Devices I can give away:</h2></u>
    <ul>
      {% for device, description in DEVICES_TO_GIVE.items() %}
      <li>
        {{device}}:
        <ul>
          {% for key, value in description.items() %}
          <li>{{key}} : {{value}}</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
