<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<!--
  -- Copyright (C) 2020 Denis 'GNUtoo' Carikli <GNUtoo@cyberdimension.org>
  --
  -- This program is free software: you can redistribute it and/or modify
  -- it under the terms of the GNU Affero General Public License as published by
  -- the Free Software Foundation, either version 3 of the License, or
  -- (at your option) any later version.
  --
  -- This program is distributed in the hope that it will be useful,
  -- but WITHOUT ANY WARRANTY; without even the implied warranty of
  -- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  -- GNU Affero General Public License for more details.
  --
  -- You should have received a copy of the GNU Affero General Public License
  -- along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->
<html>
  <head>
    <title>GPUs</title>
    <meta name="date" content="2020-05-15" />
    <meta name="category" content="Article" />
  </head>

  <body>
  <p>
    I've several AMD/ATI GPUs that I got from various sources (old computers,
    main boards, etc).
    </br>
    I used them to add support for them in linux-libre.
    </br>
    Feel free to ask me to test something with linux-libre, Xorg or Wayland.
  </p>

    {% for driver in GPU_DRIVERS %}
    <u><h2>{{driver}}</h2></u>
    <ul>
      {% for gpu in GPUS %}

      {% if driver == gpu["driver"] %}
      <li>
        {{gpu["product_str"]}}:
        <ul>
          {% for key, value in gpu.items() %}
          {% if key == "vendor_id"%}
	  <li>vendor_id:product_id : {{gpu["vendor_id"]}}:{{gpu["product_id"]}}</li>
          {% elif key not in ["vendor_id", "product_id", "vendor_str", "product_str"] %}
	  <li>{{key}} : {{value}}</li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endfor %}
  </body>
</html>
